@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Tikiii.Models.Book>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">STT</th>
                <th scope="col" class="text-center">Ảnh</th>
                <th scope="col" class="text-center">Tên Sách</th>
                <th scope="col" class="text-center">Tên Tác Giả</th>
                <th scope="col" class="text-center">Giá</th>
                <th scope="col" class="text-center">Trạng Thái</th>
                <th scope="col" class="text-center">Tác Vụ</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                String price = "";
            }
            @foreach (var item in Model)
            {
                i++;
                price = string.Format("{0:#,##0}", item.Price);
                <tr>
                    <th scope="row" class="text-center" style="vertical-align:middle">@i</th>
                    <td class="text-center" style="vertical-align:middle;width:100px">
                        <img src="@item.Avatar" alt="" style="width:100%;height:auto" />
                    </td>
                    <td class="text-center" style="vertical-align:middle">
                        @item.Title
                    </td>
                    <td class="text-center" style="vertical-align:middle">
                        @item.Author
                    </td>
                    <td class="text-center" style="vertical-align:middle">
                        @price
                    </td>
                    @if (item.Status == 1)
                    {
                        <td class="text-center" style="vertical-align:middle">
                            Đang Bán
                        </td>
                    }
                    else
                    {
                        <td class="text-center" style="vertical-align:middle">
                            Ngưng Bán
                        </td>
                    }
                    <td class="text-center" style="vertical-align:middle">
                        <a href="/Book/Edit/@item.id">Sửa</a>
                        <a href="/Book/Delete/@item.id" onclick="return confirm('Bạn Có Muốn Xóa Cuốn Sách Này Không ?')">Xóa</a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

